@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GreetingInjection</title>
</head>
<body>
    <h3>Greetings and  @ViewBag.Message</h3>
</body>
</html>