<ul class="nav flex-column">
    <li class="nav-item">
        <a asp-action="index" asp-controller="ManageEmployee" class="nav-link">Manage Employees</a>
    </li>
    <li class="nav-item">
        <a asp-action="index" asp-controller="ManageLeaves" class="nav-link">Manage Leaves</a>
    </li>
    <li class="nav-item">
        <a asp-action="FindEmployee" asp-controller="MangeEmployees" class="nav-link">Find Employee</a>
    </li>
</ul>