<ul class="nav flex-column">
    <li class="nav-item">
        <a href="#" class="nav-link">Project status</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">Apply leave</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">Edit/view profile</a>
    </li>
</ul>

