
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowResult</title>
</head>
<body>
    <h3>The result for operation @ViewBag.Operation is @ViewBag.Result</h3>
</body>
</html>
